---
import Layout from '../../components/Layout.astro';
import LinkList from '../../components/LinkList.astro';
import WebcamGrid from '../../components/WebcamGrid.astro';
import type { LinkEntry, WebcamEntry } from '../../types';

const data = await import('../../data/idaho.json') as {
  overviews: LinkEntry[];
  north_idaho: LinkEntry[];
  mccall: LinkEntry[];
  sun_valley: LinkEntry[];
  forums: LinkEntry[];
  sled: LinkEntry[];
  webcams: WebcamEntry[];
};
---
<Layout title="Idaho Dashboard">
  <div class="row g-0">
    <div class="col-12 col-md-6 col-xl-3 px-2">
      <LinkList title="Avalanche Centers" links={data.overviews} />
      <LinkList title="North Idaho" links={data.north_idaho} />
      <LinkList title="Forums" links={data.forums} />
      <LinkList title="Sled" links={data.sled} />
    </div>
    <div class="col-12 col-md-6 col-xl-3 px-2">
      <LinkList title="McCall" links={data.mccall} />
      <LinkList title="Sun Valley" links={data.sun_valley} />
    </div>
    <div class="col-12 col-md-6 col-xl-3 px-2">
      <WebcamGrid webcams={data.webcams} />
    </div>
  </div>
</Layout>
